<section class="d-flex justify-content-between align-items-center">
    <h2>Patient informations</h2>

    <!-- Patient diabetes risk level -->
    @if (!isUpdating()) {
    <app-risk-assessment [id]="patientId"></app-risk-assessment>
    }
</section>

<!-- Spinner -->
@if (isLoading()) {
<mat-progress-bar mode="query"></mat-progress-bar>
}

<!-- Patient Form -->
@if (patient) {
<app-patient-form [patient]="patient" (onPatientSubmit)="handlePatientSubmission()" [isFormDisabled]="!isUpdating()"></app-patient-form>

<!-- Patient Notes -->
@if (!isUpdating()) {
<hr>
<app-notes-list [patient]="patient"></app-notes-list>
}
}