<!-- Spinner -->
@if (isLoading()) {
<mat-progress-bar mode="query"></mat-progress-bar>
}

<!-- Patient Form -->
@if (patient) {
<form>
    <fieldset [disabled]="!isUpdating()">
        <legend>{{ patient.firstname }} {{ patient.lastname }}</legend>
        <!-- Lastname & Firstname-->
        <div class="row g-2">
            <div class="col-md-6">
                <!-- Lastname -->
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" [(ngModel)]="patient.lastname" name="lastname">
                </div>
            </div>
            <div class="col-md-6">
                <!-- Firstname -->
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" [(ngModel)]="patient.firstname" name="firstname">
                </div>
            </div>
        </div>

        <!-- BirthDate & Gender-->
        <div class="row g-2">
            <div class="col-md-6 date-picker">
                <!-- Date of birth -->
                <mat-form-field>
                    <mat-label>Date of birth</mat-label>
                    <input id="dateInput" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="patient.birthDate" name="birthDate" (dateChange)="updateDate($event)" disabled>
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <!-- <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply>Apply</button>
                        </mat-datepicker-actions> -->
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- Gender -->
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select" [(ngModel)]="patient.gender" name="gender">
                        <option>{{ patient.gender }}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Address & Phone -->
        <div class="row g-2">
            <div class="col-md-6">
                <!-- Address -->
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="patient.address" name="address">
                </div>
            </div>
            <div class="col-md-6">
                <!-- Address -->
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" [(ngModel)]="patient.phoneNumber" name="phone">
                </div>
            </div>
        </div>

        <!-- Update validation BTNs -->
        @if (isUpdating()) {
        <div class="row g-2 mt-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-end">
                <button type="button" class="btn btn-primary me-2" (click)="updatePatient()">Update</button>
                <button type="button" class="btn btn-secondary" routerLink="/patients">Cancel</button>
            </div>
        </div>
        }
    </fieldset>
</form>
}